
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: rgb(12,183,186);
    background: linear-gradient(90deg, rgba(12,183,186,1) 11%, rgba(2,0,36,1) 47%, rgba(49,0,182,1) 100%);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 10px;
    block-size: 8;
    color: #fffcea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    block-size: 5;
    font-family: "Magz";
    color: #fffcea;
}

.calculadora{
    text-align: center;
    padding: 50px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1);
    
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,17,57,1) 37%, rgba(0,152,182,1) 100%);
}

input{
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.5em;
    text-align: center;
}

button{
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;

}

button:hover{
    background-color: darkgoldenrod;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

